#map-container {
    height: 100%;
    min-width: 320px;
    max-width: 100%;
    margin: 0 auto;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* optional: prevents scrollbars from jumping around */
  }
  

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}


.corner-button {
    position: absolute;
    width: 50px; 
    height: 50px;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.75);/*blue;*/
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;

}

.highcharts-button-symbol {
    fill: white !important;
  }
  
  .popup {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 1em;
    border-radius: 8px;
    z-index: 999;
    width: 250px; /* Adjust width as needed */
}

.popup-content {
    margin-top: 30px;
}

.close-popup {
    background: none;
    border: none;
    color: white;
    font-size: 1.2em;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.layer-popup {
    display: none;
    position: absolute;  /* Overlay on top of the map */
    bottom: 10px;        /* Position from the bottom-left corner */
    right: 10px;         /* Position from the right */
    background: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 1em;
    border-radius: 8px;
    z-index: 999;        /* Ensure it overlays on top */
    width: 250px;
    max-height: 80vh;
    overflow-y: auto;
    box-sizing: border-box;
  }
  

  
  
  